.content-wrapperr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .payment-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .payment-details {
    margin-bottom: 20px;
  }
  
  .amount-label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .amount-value {
    font-size: 24px
  }