.content-wrapper {
    padding-top: 70px; /* Adjust the value based on your header height */
    padding-bottom: 70px; /* Adjust the value based on your footer height */
  }
  
  .static-bar {
    background-color: transparent;
    padding-top: 70px;
    position: fixed;
    top: 70px; /* Adjusted to create a 70px gap above the static bar */
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  

.bakround{ backgroundColor: "	#101010"; height: 100% ;  margin: 0 }


/* Footer classes */
.social-link {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed for spacing between links */
  color: #333; /* Color of the icons */
  font-size: 24px; /* Adjust as needed for icon size */
}

.social-link:hover {
  color: #007bff; /* Color of the icons on hover */
}

.blur-backgroud {
  backdropFilter: blur(5px);
}